.Sensor {

  background-repeat: no-repeat;
  background-size: 70px 70px;

  left: 50%;
  top: 50%;

  line-height: 70px;
  text-align: left;

  position: absolute;

  user-select: none;

  width: 70px;
  height: 70px;

  padding: 0 30px;
}

.Sensor .SensorTemperature {
  color: red;
  background-color: black;
}

.Sensor:hover .SensorControls {
  display: block;
}
